<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="grad.member.mapper.MemberMapper">
	<!-- 아이디 중복체크 -->
	<select id="idCheckSQL" resultType="int" parameterType="java.util.Map">
		SELECT COUNT(*)
		FROM tb_member
		where mem_id = #{mem_id}
	</select>
	
	<!-- 회원추가 -->
	<insert id="insertMemberSQL" parameterType="java.util.Map">
		INSERT INTO graduation.tb_member
		( member_id, member_pwd, member_name, member_is_super, member_is_valid, reg_dtime)
		VALUES(#{memberId}, SHA2(#{memberPwd},512), #{memberName}, 'USER','Y', NOW());
	</insert>
	
	
	
</mapper>